.userName {
    padding: 5px;
    margin: 5px;
    border: 1px solid green;
}
.items {
    margin: 5px;
    border: 1px solid green;
}
.item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-top: 1px solid gray;
    padding: 15px;
    button {
        margin-bottom: 0;
    }
}
